<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CheckServiceSoap" />
                <binding name="ExampleServiceSoap" />
                <binding name="HeroeServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53462/Services/CheckService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CheckServiceSoap"
                contract="SOAPCSharpCheckService.CheckServiceSoap" name="CheckServiceSoap" />
            <endpoint address="http://localhost:53462/Services/ExampleService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ExampleServiceSoap"
                contract="SOAPCSharpExampleService.ExampleServiceSoap" name="ExampleServiceSoap" />
            <endpoint address="http://localhost:53462/Services/HeroeService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HeroeServiceSoap"
                contract="SOAPCSharpHeroeService.HeroeServiceSoap" name="HeroeServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>