<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Validaciones -->
    <add key="IsRut" value="^([0-9]+-{1}[0-9K]{1})$" />
    <add key="IsBase64String" value="^[a-zA-Z0-9\+/]*={0,3}$" />
    <!-- Llave secreta api -->
    <add key="KeyHeader" value="bqtb6PN834XzWYF2qaHPpZR7JEL68YdCj8avtmnFQRYpUxvAkff4pu22Q8hVWvTXRJH63zFMJT64BMVmK9aqXRhyv6L8RV7ssC5hZDy3pZvFXzgapteW6bgEyy72UUzR37CXLZVMGv3fENK2HEJZ9td9yydxLCc2DAr2FnvETgqdXYpqV669Fj6huPfes4fSLfQNqBMsvbVFjHc4dP2qUeBTtXBKDWgt7xvxpCanWYJdPkUXsCtPAGFADuXzvmuh" />
    <!-- Otros -->
    <add key="PageSizeMaximun" value="10" />

    <add key="" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CheckServiceSoap" maxReceivedMessageSize="2147483647" />
        <binding name="ExampleServiceSoap" maxReceivedMessageSize="2147483647"/>
        <binding name="HeroeServiceSoap" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53462/Services/CheckService.asmx"
          binding="basicHttpBinding" bindingConfiguration="CheckServiceSoap"
          contract="SOAPCSharpCheckService.CheckServiceSoap" name="CheckServiceSoap" />
      <endpoint address="http://localhost:53462/Services/ExampleService.asmx"
          binding="basicHttpBinding" bindingConfiguration="ExampleServiceSoap"
          contract="SOAPCSharpExampleService.ExampleServiceSoap" name="ExampleServiceSoap" />
      <endpoint address="http://localhost:53462/Services/HeroeService.asmx"
          binding="basicHttpBinding" bindingConfiguration="HeroeServiceSoap"
          contract="SOAPCSharpHeroeService.HeroeServiceSoap" name="HeroeServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <customErrors mode="On">
      <error statusCode="404" redirect="~/Pages/Home/NotFound.aspx" />
    </customErrors>
    <sessionState timeout="3" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>